---
layout: page
title: Rent List
titleAfter: List of available cars & vans & motorcycles in I-Ride Bohol
breadcrumb: Rent List
priority: 0.8
changefreq: daily
---

<section class='container rent-list-container'>
   <div class='rent-list-flex'>
      {% for post in site.for-rent %}
      <a class='list-flexitem-support' href='{{site.baseurl}}{{post.url}}'>
         <div class='list-content'>
            <div class='list-img'>
               <img class='img' src='{{site.baseurl}}/assets/img/for-rent/{{post.img}}' alt='Photo of {{post.brand}} {{post.name}}'>
            </div>
            <h2 class='list-title content-title alt-db text-center'><span>{{post.brand}} <br class='break' />{{post.model}}</span></h2>         
         </div>
         <div class='list-text'>
            <h3><span class='cap'>{{post.brand}}</span> {{post.model}}</h3>
            <p>Brand: {{post.brand}}</p>
            <p>Model: {{post.model}}</p>
            {% if post.color %}<p>Color: {{post.color}}</p>{% endif %}
            {% if post.seat %}<p>Seating Cap: {{post.seat}}</p>{% endif %}
            <p>Transmission: {{post.transm}}</p>
            <p class='price'>RATE: P {{post.price-day}}/ DAY</p>            
         </div>
      </a>
      {% endfor %}
   </div>
</section>
