#articles
   border-top: 1px solid rgba($section-alt-blue, .4)
   border-bottom: 1px solid rgba($section-alt-blue, .4)
   overflow: hidden
   @extend .bg-slant

   .articles-container         
      
      .rent-container
         +display(none)
            
         .rent-cta
            p
               @extend .rent-now

      .articles-container-flex
         +display(block)
         margin-bottom: -1rem

         .article-support
            margin-bottom: 1rem

            .article
               margin: 0px auto
               width: 100%
               max-width: 320px
               +display(block)   
               text-align: left
               border: 1px solid $border
               color: $section-alt-darkblue
               +transition()
               background-color: $section-alt

               .img
                  +flex-grow(1)
                  @extend .vertical-middle
                  height: 300px
                  background-color: $section-main

                  img
                     max-width: 90%
                     max-height: 80%

               .text
                  +flex(0 0 250px)
                  +display(flex)
                  +flex-direction(column)
                  border-left: 0px
                  background-color: transparent
                  padding: 1rem 0px 1.5rem
                  border-top: 1px solid $border
                  
                  .title
                     @extend .content-title
                     @extend .text-center
                     padding: .5rem 0px 
                     +transition()
                     
                     span
                        background-color: $section-alt

                  .details-flex
                     +flex-grow(1)
                     margin: 0px 1rem
                     +display(flex)
                     +flex-wrap(wrap)
                     
                     &.details-block
                        +display(block)
                           
                        p
                        
                           &:nth-child(even)
                              padding-left: 0px

                     p
                        +flex(1 0 50%)
                        
                        &:nth-child(even)
                           padding-left: 1rem
                           
                        svg
                           margin: 0px .2rem -.1rem
                           +size(1.2rem)
                           fill: $section-alt-darkblue

                  .price
                     +display(block)
                     margin: .5rem 1rem 0px
                     +position(relative)
                     +transition()
                     z-index: 1
                     text-align: center
                     overflow: hidden
                     min-width: 200px
                     
                     &:before
                        content: ''
                        z-index: -1
                        +transition(all .2s ease-out)
                        +size(calc(38px + 100%) 100%)
                        +transform(skew(-45deg))
                        background-color: $section-alt-peach
                        +position(absolute, 0px null null calc(100% + 19px))

@media screen and (min-width: 560px)
   #articles
      .articles-container    
         .articles-container-flex
            +display(flex)
            +flex-wrap(wrap)
            +justify-content(space-between)
               
            .article-support
               +flex-basis(calc(50% - .5rem))
                  
               .article
                  max-width: none
                              
@media screen and (min-width: 768px)
   #articles
      .articles-container                  
         .rent-container
            +display(block)
            z-index: 1
            +position(absolute, 0px null null 50%)
            padding: 7px
            margin-left: -65px
            +size(130px auto)
            text-align: center
            background-color: $section-alt-peach

            &:before
               content: ""
               background-color: $section-alt-peach
               +position(absolute, null null -6px 0px)
               +size(100% 3px)

            &:after
               content: ""
               z-index: -1
               +position(absolute, 10px 10px 10px 10px)
               border: 1px solid $section-alt-darkblue
               background-color: $section-alt-peach         

            .rent-img
               +size(90px)
               +display(inline-block)
               margin: 30px 0px 12px

               svg
                  +size(100%)
                  fill: $section-alt-darkblue

            .rent-blurb
               margin-bottom: 2rem

            .rent-add
               +display(none)

            .rent-cta
               +position(relative)
               +size(100% 160px)
               z-index: 1
               text-transform: uppercase
               +display(block)
               margin: 1rem auto 0px
               text-align: center
               line-height: 160px
               background-color: $section-alt-darkblue

               svg
                  +display(none)
                  fill: $section-alt-darkblue
                  z-index: -1
                  +size(100%)
                  +position(absolute, 0px null null 0px)

               p
                  +display(inline-block)
                  width: 100%
                  vertical-align: middle
                  margin-bottom: 0px
                  color: $section-main

               &:hover
                  .rent-now
                     color: $rent-now    

         .articles-container-flex
            margin-right: 100px

            .article-support
               margin-right: 1rem
               
         .articles-container-flex
            +display(flex)
            +flex-wrap(wrap)
            margin-right: 0px
            
            .article-support
               +flex-basis(50%)
               +flex-shrink(0)
               margin-right: 0px

               &:nth-child(even)
                  text-align: right

               .article
                  background-color: $section-alt
                  width: 277px
                  +display(inline-block)

                  .text
                     +display(block)
                     background-color: transparent
                     border-left: 0px

@media screen and (min-width: 992px)
   #articles
      .articles-container    
         .rent-container
            +size(266px auto)
            margin-left: -133px

            .rent-add
               +display(block)

            .rent-cta
               margin: 1rem auto
               background-color: transparent

               svg
                  +display(block)
                     
               .rent-now
                  width: 100px
                  
         .articles-container-flex
            margin-bottom: -3rem
            
            .article-support
               margin-bottom: 3rem

               .article
                  width: 290px
                  +transition()

                  &:hover
                     .price
                        &:before
                           left: -19px
                        
                  .text                     
                     .title
                        +transition()
                              
@media screen and (min-width: 1200px)
   #articles
      .articles-container                 
         .articles-container-flex
            .article-support
               .article
                  width: 350px
