#related-post
   +size(100% auto) 
   +position(relative, 0px 0px null null)
   z-index: 1
   float: right
   background-color: lighten($border, 18)
   
   .related-post-container
      padding: 2rem 1rem
      
      .content-title span
         background-color: lighten($border, 18)

      .related-post-flex 
         +display(flex)
         +flex-wrap(wrap)
         +justify-content(center)
         margin: 2rem -.5rem -2rem
         
         .post
            +display(block)
            +flex-basis(155px)
            margin: 0px .5rem 2rem
            text-align: center
               
            .img
               @extend .vertical-middle
               +size(135px)
               margin: auto
               overflow: hidden
               border-radius: 50%
               border: 1px solid lighten($border, 5)
               box-shadow: inset 0px 0px 15px 0px rgba($border, .4)
               background-color: $section-main
               
               img
                  max-width: 90%
                  
            .title
               +display(inline-block)
               margin-top: 1rem
               padding: 0px 1rem
               text-transform: uppercase
               border: 
                  width: 1px 0px
                  style: solid
                  color: $border
            
@media screen and (min-width: 768px)
   #related-post
      .related-post-container
         .related-post-flex 
            +justify-content(flex-start)

            .post
               +flex-basis(167px)
                  
@media screen and (min-width: 992px)                  
   #related-post
      .related-post-container
         .related-post-flex 
            .post
               +flex-basis(176px)
            
               .img, .title
                  +transition()

               &:hover
                  .img 
                     border-color: darken($border, 8)
                     +transform(scale(1.04))

                  .title
                     color: $p-color
                     border-color: darken($border, 20)
                  
                  
            