<!DOCTYPE html>
<html lang='{{site.data.settings.lang}}'>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113620127-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113620127-1');
</script>
   <title>{% if page.layout == 'post' %}{{page.title}} for Rent · {% elsif page.layout == 'page' %}{{page.title}} · {% endif %}{{site.data.settings.title}}{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>   
   <meta charset='utf-8'>   
   <meta name='description' content="{%if page.layout == 'post' %}{{site.data.settings.title}} {{site.data.settings.subtitle}} {{page.title}} & Color of {{page.color}} & Transmission is {{page.transm}}{% elsif page.layout == 'page' %}{{page.title}} of {{site.data.settings.title}} {{site.data.settings.subtitle}}{% else %}{{site.data.settings.title}} {{site.data.settings.subtitle}}{% endif %}">
   <meta name='keywords' content="{%if page.layout == 'post' %}{{site.data.settings.title}} {{site.data.settings.subtitle}} {{page.title}} & Color of {{page.color}} & Transmission is {{page.transm}}{% elsif page.layout == 'page' %}{{page.title}} of {{site.data.settings.title}} {{site.data.settings.subtitle}}{% else %}{{site.data.settings.title}} {{site.data.settings.subtitle}}{% endif %}, {{site.data.settings.keywords}}">
   <meta name='author' content='{{site.data.settings.author}}'>
   <meta name='dcterms.rightsHolder' content='{{site.url}}'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>   
   <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
   <link rel='stylesheet' href='{{site.baseurl}}/assets/css/main.css' type='text/css'>
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700|Arizonia'>  
   <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico'>
</head>
<body>
   
<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   
<header id='header'>
   <div class='container-nav'>
      <div class='nav-container'>
         <div class='nav-banner'>
            <a href='{{site.baseurl}}/'>
               {% include icons/banner.html %}
            </a>         
         </div>
         
         <nav class='nav-main'>
            <a class='nav-item nav-link home' href='{{site.baseurl}}/'>Home</a>
            {% for menu in site.data.settings.menu limit:3 %}
            <a class='nav-item nav-link {{menu.url}} {% if page.url contains menu.url %}current{% endif %}' href='{{site.baseurl}}/{{menu.url}}/'>{{menu.name}}</a>
            {% endfor %}
         </nav>      
      </div>   
   </div>
</header>
