<div class='lightbox lightbox-call'>
   <div class='lb-container call-lb-container'>
      <header class='lb-header-flex'>
         <h2 class='lb-title content-title alt-db'><span>select network</span></h2>         
         <div class='close'></div>
      </header>
      
      <div class='lb-content'>
         <div class='call-lb-network-flex'>
            <a href='tel:{{site.data.settings.mobile.globe}}' class='call-lb-network-flexitem'>
               <img src='{{site.baseurl}}/assets/img/globe.jpg'>               
               <p>{{site.data.settings.mobile.globe}}</p>
            </a>
            
            <a href='tel:{{site.data.settings.mobile.smart}}' class='call-lb-network-flexitem'>
               <img src='{{site.baseurl}}/assets/img/smart.jpg'>
               <p>{{site.data.settings.mobile.smart}}</p>
            </a>         
         </div>
         
         <div class='call-lb-note'>
            <p class='note-blurb'>
               Phone number will be available soon..
            </p>
         </div>
         
         <p class='call-lb-phone'>Phone: {{site.data.settings.phone}}</p>
      </div>
   </div>
</div>