<section id='related-post'>
   <div class='container related-post-container'>
      <h2 class='content-title text-center'><span>you may also like</span></h2>
      <div class='related-post-flex'>
         {% for post in site.for-rent %}
         {% if page.url != post.url %}
         <a href='{{site.baseurl}}{{post.url}}' class='post'>
            <figure class='img'> 
               <img src='{{site.baseurl}}/assets/img/for-rent/{{post.img}}' alt='{{post.brand}}: {{post.model}} for rent in {{site.data.settings.title}}'>
            </figure>
            <p class='title'>{{ post.brand }} · {{ post.model }}{% if post.suffix %}<br />{{ post.suffix }}{% endif %}</p>
         </a>
         {% endif %}
         {% endfor %}
      </div>
   </div>
</section>