.bg-slant   
   background:
      image: url('../img/slant-bg.png')
      repeat: repeat
      size: 12px

.price
   margin-top: 1rem
   font-size: 1.2rem
   background-color: $section-alt
   font-weight: 400
   border: 1px solid $border
   +display(inline-block)
   padding: .3rem 1rem
      
.vertical-middle
   white-space: nowrap
   text-align: center
   
   &:before
      content: ''
      height: 100%
      vertical-align: middle
      +display(inline-block)
      
   img
      vertical-align: middle
      
      
.rent-now
   font-size: 2rem
   font-weight: 700
   line-height: 1
   
.rent-now-onpage
   font-size: 1.6rem
   
   @media screen and (min-width: 500px)
      font-size: 2rem

.post-title-size
   font-size: 31px
   font-size: 2.2rem
   
   @media screen and (min-width: 500px)
      font-size: 40px
      font-size: 2.5rem
   
.sub-title
   font-size: 19px
   font-size: 1.2rem
   margin-bottom: .7rem
   font-weight: 400
   line-height: 1
   +display(inline-block)
      
.cap
   text-transform: uppercase
   
.copyright
   font-size: 12px
   

.see-full-screen   
   border-bottom: 1px dotted $border
   
.back-to-top
   +display(none)
   +size(42px)
   background-color: lighten($border, 10)
   z-index: 1
   border-radius: 50%
   margin-top: -25px
   cursor: pointer
   +position(fixed, null 15px 15px null)
   text-align: center
   color: darken($border, 40)
   
   &:before
      content: 'top'
      +display(inline-block)
      margin-top: 8px

   &.active-btt
      +display(block)
   
   @media screen and (min-width: 768px)
      +size(50px)
      +position(fixed, 50% 15px null null)
      +transition-duration(.2s)
      +transition-timing-function(ease-out)

      &:hover
         background-color: $p-color
         color: $section-main

      &:before
         margin-top: 11px
      
.content-title
   z-index: 1
   text-align: left
   text-transform: uppercase
   color: $section-alt-darkblue
   +position(relative) 
   
   &:before
      content: ""
      height: 1px
      z-index: -1
      background-color: $section-alt-darkblue
      +position(absolute, 50% 0px null 0px)        
   
   span
      background-color: $section-main
      +display(inline-block)
      +transition()
         
   &.text-center
      text-align: center
      
      span
         padding: 0px .5rem
      
   &.text-left
      text-align: center
      
      span
         padding: 0px .5rem
      
      @media screen and (min-width: 768px)
         text-align: left
   
         span
            padding-right: .5rem
            padding-left: 0px
               
   &.alt
      color: $section-alt
      
      &:before
         background-color: $section-alt
      
      span
         background-color: $section-alt-darkblue
      
   &.alt-db      
      span
         background-color: $section-alt  