---
layout: page
---

<section class='container post-container'>      
   <section class='article'>
      <figure class='img'>
         <img src='{{site.baseurl}}/assets/img/for-rent/{{page.img}}' alt='{{page.brand}}: {{page.model}} for rent in {{site.data.settings.title}}'>
      </figure>
      <div class='text'>
         <h2 class='title'>{{ page.brand }} {{ page.model }}</h2>
         <div class='details-flex'>
            <p>{% include icons/color.html %}{{ page.color }}</p>                  
            {% if page.seat %}<p>{% include icons/seat.html %}{{ page.seat }}</p>{% endif %}
            {% if page.cooling %}<p>{% include icons/cooling.html %}{{ page.cooling }}</p>{% endif %}                  
            {% if page.door %}<p>{% include icons/car-door.html %}{{ page.door }}</p>{% endif %}                       
            <p>{% include icons/engine.html %}{{ page.transm }}</p>    
         </div>
         <span class='price'>RATE: P {{ page.price-day }}/ Day</span>
         <span class='rent rent-now'>rent this {{ page.category }}</span>
      </div>
   </section>
</section>
   
{% include related-post.html %}